{% include 'includes/head.html' %}

<body>
    {% include 'includes/header.html' %}
    <main>
        <h1>{{info['Movie_Name']}}</h1>

        <table class="center" border=1>
            <tr>
                <th>Release date</th><th>{{info['Release_Date'] }}</th>
            </tr>
            <tr>
                <th>Language</th><th>{{info['Language'] }}
            </tr>
            <tr>
                <th>Certification</th><th>{{info['Certification'] }}
            </tr>
        </table>
    </main>
</body>